---
import Header from './printables/Header.astro'
import Experience from './printables/Experience.astro'
import Skills from './printables/Skills.astro'
import Certifications from './printables/Certifications.astro'
import Projects from './printables/Projects.astro'
---

<div class="text-black bg-white m-6">
    <Header />
    <Experience />
    <Skills />
    <Projects />
    <Certifications />
</div>