---
// components/PrintInformation.astro
---
{/*
<p
	class:list={[
		'text-center text-sm text-stone-600 dark:text-stone-400 hidden lg:block',
		Astro.props.class,
	]}
>
	Tip: Presiona <kbd id='modifier-key'></kbd> + <kbd>P</kbd> para imprimir mi currículum formal.
</p>

<script is:inline>
	document.getElementById('modifier-key').textContent =
		navigator.userAgent.includes('Mac OS X') ? '⌘' : 'Ctrl'
</script>
*/}