---
const { list } = Astro.props
---

<div class="flex gap-2 flex-wrap">
  {
    list.map((name: string) => (
      <span class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-stone-200 dark:bg-stone-950 text-stone-600 dark:text-stone-400">
        {name}
      </span>
    ))
  }
</div>
